/* 样式初始化 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
legend,
button form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
a {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
/* 酌情修改 */
body {
  background: #fff;
  color: #333;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei",
    "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}

/* 短引用的内容可取值：''或"" */
q:before,
q:after {
  content: ”;
}

/* 缩写，图片等无边框 */
fieldset,
img,
abbr,
acronym {
  border: 0 none;
}
abbr,
acronym {
  font-variant: normal;
}
legend {
  color: #000;
}

/* 清除特殊标记的字体和字号 */
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: normal;
  font-style: normal;
}

/* 上下标 */
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}

/* 设置表格的边框被合并为一个单一的边框, 指定分隔边框模型中单元格边界之间的距离为0*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 表格标题及内容居左显示 */
caption,
th {
  text-align: left;
}
input,
img,
select {
  vertical-align: middle;
}

/* 清除列表样式 */
ol,
ul {
  list-style: none;
}

/* 输入控件字体 */
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

/* 标题元素样式清除 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}

/* 链接样式，颜色可酌情修改 */
del,
ins,
a {
  text-decoration: none;
  transition: all 0.3s;
}

/* 鼠标样式 */
input[type="submit"] {
  cursor: pointer;
}
button {
  cursor: pointer;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix::after,
.clearfix::before {
  content: "";
  display: block;
  clear: both;
}
/* 版心 */
.container {
  width: 1226px;
  margin: 0 auto;
}
.iconfont {
  font-size: 12px;
}
@media (max-width: 768px) {
  body {
    width: 1226px;
  }
}

/* 通栏广告广告 */
.top-ban {
  width: 100%;
}
.top-ban a {
  background: url("../images/topban.jpg") no-repeat center center;
  display: block;
  height: 120px;
  width: 100%;
}
/* 头部区域 */
.top-nav {
  width: 100%;
  background-color: rgb(51, 51, 51);
}
.top-nav a {
  display: inline-block;
  padding: 14px 5px;
  color: rgb(176, 176, 176);
}
.top-nav a:hover {
  color: #fff;
}
.top-nav a.car {
  background-color: rgb(66, 66, 66);
  padding: 14px 25px;
  position: relative;
}
.top-nav a.car:hover {
  background-color: #fff;
  color: rgb(255, 103, 0);
}
.top-nav a.car span {
  font-size: 12px;
}
.top-nav a.car .car-content {
  position: absolute;
  right: 0;
  top: 100%;
  width: 300px;
  height: 100px;
  background-color: #fff;
  text-align: center;
  line-height: 100px;
  box-shadow: darkgrey 0px 0px 3px;
  display: none;
  z-index: 99;
}
/* 导航区域 */
nav {
  position: relative;
}
.logo {
  margin-top: 20px;
  margin-right: 100px;
}
.main-nav {
}
.main-nav li {
  float: left;
}
.main-nav li a {
  font-size: 16px;
  display: block;
  padding: 39px 12px;
  color: black;
}
.main-nav li a:hover {
  color: rgb(255, 103, 0);
}
.search {
  position: relative;
  height: 50px;
  width: 300px;
  border: 1px solid #dddddd;
  margin-top: 25px;
}
.search input {
  height: 48px;
  width: 248px;
  padding-left: 30px;
  border-right: 1px solid #dddddd;
}
.search i {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: -1px;
  text-align: center;
  line-height: 50px;
  transition: all 0.3s;
}
.search i:hover {
  background-color: rgb(255, 103, 0);
}
nav .nav-content {
  width: 100%;
  border-top: 1px solid #dddddd;
  display: none;
  height: 150px;
  position: absolute;
  z-index: 101;
  top: 100%;
  box-shadow: 0 0 3px #dddddd;
  background-color: #ffffff;
}
nav .nav-content .container {
  left: 50%;
  top: 0%;
  position: absolute;
  transform: translateX(-50%);
  z-index: 99;
}
nav .nav-content .container ul {
  display: none;
}
nav .nav-content .container li {
  float: left;
  width: calc(100% / 6);
  text-align: center;
  padding: 40px 0;
  border-right: 1px solid #eeeeee;
  margin-top: 20px;
}
nav .nav-content .container li:last-child {
  border: 0;
}
/* banner区域 */
#banner {
  width: 100%;
}
#banner .banner {
  width: 100%;
}
#banner .banner #swiper1 img {
  width: 100%;
}
#swiper1 .swiper-button-next,
#swiper1 .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 41px;
  height: 69px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}
#swiper1 .swiper-button-prev {
  left: 236px;
}
#swiper1 .swiper-pagination {
  padding-left: 85%;
}
#swiper1 .swiper-pagination span {
  border: 2px solid #cccccc;
  background-color: #ffffff;
}
#banner .container {
  position: relative;
}
#banner .side-nav {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  height: 460px;
  width: 234px;
  background-color: rgba(39, 37, 37, 0.3);
  padding: 15px 0;
}
#banner .side-nav .side-tab ul {
  width: 100%;
}
#banner .side-nav .side-tab ul li {
  width: 100%;
  transition: all 0.3s;
}
#banner .side-nav .side-tab ul li a {
  display: block;
  width: 100%;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  color: #000;
  padding-left: 25px;
  position: relative;
  color: #fff;
}
#banner .side-nav .side-tab ul li a span {
  position: absolute;
  right: 30px;
  font-size: 16px;
}
#banner .side-nav .side-tab ul li.active {
  background-color: rgb(255, 103, 0);
}
#banner .side-content {
  position: absolute;
  left: 100%;
  top: 0;
  width: 992px;
  height: 460px;
  background-color: #fff;
  z-index: 9999;
  display: block;
  display: none;
}
#banner .side-content div {
  width: 100%;
  padding: 20px 0;
  box-shadow: 0 0 3px 1px #cccccc;
  height: 460px;
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
#banner .side-content div a {
  width: 18%;
  display: inline-block;
  height: 70px;
  line-height: 70px;
  text-align: center;
}
#banner .side-content div a:hover {
  color: rgb(255, 103, 0);
}
.banner-bottom {
  width: 100%;
  height: 170px;
  margin-top: 10px;
}
.banner-bottom-left {
  float: left;
  width: 234px;
  height: 170px;
  background-color: rgb(95, 87, 80);
  overflow: hidden;
}
.banner-bottom-left ul {
  width: 100%;
}
.banner-bottom-left li {
  float: left;
  width: 33.33%;
  height: 85px;
  text-align: center;
  box-sizing: border-box;
}
.banner-bottom-left li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 85px;
  border-right: 1px solid rgb(102, 94, 87);
  border-top: 1px solid rgb(102, 94, 87);
  font-size: 14px;
  color: rgb(207, 205, 203);
}
.banner-bottom-left li a:hover {
  color: #fff;
}
.banner-bottom-right {
  float: left;
  width: 978px;
  margin-left: 14px;
}
.banner-bottom-right li {
  float: left;
  width: 316px;
  height: 170px;
  margin-right: 14px;
  transition: all 0.3s;
}
.banner-bottom-right li:hover {
  transform: translateY(-2px);
  box-shadow: 2px 2px 4px 2px #cccccc;
}
.banner-bottom-right li:last-child {
  margin-right: 0;
}
.banner-bottom-right li img {
  width: 100%;
}
/* 产品区域 */
#product {
  background-color: rgb(245, 245, 245);
}
/* 秒杀模块 */
#seckill {
  margin-top: 15px;
  width: 100%;
  /* background-color: beige; */
  position: relative;
}
#seckill h1 {
  font-size: 20px;
  padding: 20px 0;
}
#seckill .seckill {
  width: 234px;
  height: 340px;
  background-color: rgb(241, 237, 237);
  float: left;
  margin-right: 14px;
  text-align: center;
  padding-top: 40px;
  font-size: 18px;
}
#seckill .seckill h1 {
  color: rgb(255, 103, 0);
}
#seckill .seckill p {
  margin: 30px 0;
}
#seckill .seckill span {
  display: inline-block;
  width: 45px;
  height: 45px;
  background-color: rgb(96, 87, 81);
  vertical-align: middle;
  margin: 5px;
  line-height: 45px;
  font-size: 16px;
  color: white;
}

#swiper2 {
  float: left;
  width: 978px;
  position: static;
}
#swiper2 .swiper-slide {
  text-align: center;
  padding-top: 30px;
  height: 340px;
  background-color: rgb(250, 250, 250);
}
#swiper2 .swiper-slide a {
  display: block;
}
#swiper2 .swiper-slide img {
  width: 150px;
}
#swiper2 .swiper-slide p {
  font-size: 14px;
  color: #000;
  margin-top: 25px;
}
#swiper2 .swiper-slide span {
  color: #cccccc;
  margin-top: 10px;
  display: inline-block;
}
#swiper2 .swiper-slide span.special {
  font-size: 14px;
  color: rgb(255, 103, 0);
}

#swiper2 .swiper-button-prev,
#swiper2 .swiper-button-next {
  width: 25px;
  height: 15px;
  position: absolute;
}
#swiper2 .swiper-button-prev {
  position: absolute;
  top: 50px;
  left: 1180px;
}
#swiper2 .swiper-button-next {
  top: 50px;
  left: 1190px;
}
.seckill {
  border-top: 1px solid red;
}
#swiper2 .swiper-slide:nth-child(1n) {
  border-top: 1px solid orange;
}
#swiper2 .swiper-slide:nth-child(2n) {
  border-top: 1px solid blue;
}
#swiper2 .swiper-slide:nth-child(3n) {
  border-top: 1px solid green;
}
#swiper2 .swiper-slide:nth-child(4n) {
  border-top: 1px solid purple;
}
.bigbn {
  width: 100%;
  padding: 50px 0;
  height: 120px;
  box-sizing: content-box;
}
.bigbn a {
  display: block;
  height: 120px;
}
.bigbn img {
  width: 100%;
}
.mobile {
  width: 100%;
  background-color: rgb(245, 245, 245);
}
.mobile .mobile-fl {
  width: 234px;
  height: 614px;
  transition: all 0.4s;
}
.mobile .mobile-fl:hover {
  transform: translateY(-5px);
}
.mobile .mobile-fl img {
  width: 100%;
}
.title {
  padding: 20px 0px;
  font-size: 20px;
}
.title .more {
  float: right;
  font-size: 16px;
}
.title .more:hover {
  color: rgb(255, 103, 0);
}
.mobile-fr {
  width: 992px;
  height: 614px;
}
.mobile-fr ul {
  width: 100%;
  height: 100%;
}
.mobile-fr ul li {
  float: left;
  width: 234px;
  height: 300px;
  margin-left: 14px;
  margin-bottom: 14px;
  background-color: #ffffff;
  text-align: center;
  transition: all 0.4s;
}
.mobile-fr ul li:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.mobile-fr ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px 0;
}
.mobile-fr ul li a img {
  width: 160px;
  height: 160px;
}
.mobile-fr ul li h1 {
  font-size: 14px;
  margin-bottom: 5px;
  color: #000;
}
.mobile-fr ul li p {
  font-size: 12px;
  color: #cccccc;
}
.mobile-fr ul li .price {
  font-size: 14px;
  color: rgb(255, 103, 0);
  display: block;
  margin-top: 10px;
}

/* 家电 */
.appliances {
  width: 100%;
  background-color: rgb(245, 245, 245);
}
.appliances .container {
  position: relative;
}
.appliances .appliances-fl {
  width: 234px;
  height: 614px;
}
.appliances .appliances-fl li {
  transition: all 0.4s;
  margin-bottom: 14px;
}
.appliances .appliances-fl li:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}
.appliances .appliances-fl img {
  width: 100%;
}
.appliances-tab {
  position: absolute;
  right: 0;
  top: 25px;
}
.appliances-tab li {
  float: left;
  font-size: 16px;
  margin-left: 20px;
  padding-bottom: 5px;
  transition: all 0.4s;
  color: #000;
}
.appliances-tab li.active {
  border-bottom: 2px solid rgb(255, 103, 0);
  color: rgb(255, 103, 0);
}
.title {
  padding: 20px 0px;
  font-size: 20px;
}
.title .more {
  float: right;
  font-size: 16px;
}
.title .more:hover {
  color: rgb(255, 103, 0);
}

.appliances-fr {
  width: 992px;
  height: 614px;
  overflow: hidden;
}
.appliances-fr ul {
  width: 100%;
  height: 100%;
  display: none;
}
.appliances-fr ul.active {
  display: block;
}
.appliances-fr ul li {
  float: left;
  width: 234px;
  height: 300px;
  margin-left: 14px;
  margin-bottom: 14px;
  background-color: #ffffff;
  text-align: center;
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
}
.appliances-fr ul li .sub-content {
  position: absolute;
  left: 0;
  width: 100%;
  height: 80px;
  bottom: -80px;
  background: rgb(255, 103, 0);
  padding: 10px;
  transition: all 0.4s;
}
.appliances-fr ul li:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.appliances-fr ul li:hover .sub-content {
  bottom: 0;
}
.appliances-fr ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px 0;
}
.appliances-fr ul li a img {
  width: 160px;
  height: 160px;
}
.appliances-fr ul li h1 {
  font-size: 14px;
  margin-bottom: 5px;
  color: #000;
}
.appliances-fr ul li p {
  font-size: 12px;
  color: #cccccc;
}
.appliances-fr ul li .price {
  font-size: 14px;
  color: rgb(255, 103, 0);
  display: block;
  margin-top: 10px;
}

/* 智能 */
.capacity {
  width: 100%;
  background-color: rgb(245, 245, 245);
}
.capacity .container {
  position: relative;
}
.capacity .capacity-fl {
  width: 234px;
  height: 614px;
}
.capacity .capacity-fl li {
  transition: all 0.4s;
  margin-bottom: 14px;
}
.capacity .capacity-fl li:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}
.capacity .capacity-fl img {
  width: 100%;
}
.capacity-tab {
  position: absolute;
  right: 0;
  top: 25px;
}
.capacity-tab li {
  float: left;
  font-size: 16px;
  margin-left: 20px;
  padding-bottom: 5px;
  transition: all 0.4s;
  color: #000;
}
.capacity-tab li.active {
  border-bottom: 2px solid rgb(255, 103, 0);
  color: rgb(255, 103, 0);
}
.title {
  padding: 20px 0px;
  font-size: 20px;
}
.title .more {
  float: right;
  font-size: 16px;
}
.title .more:hover {
  color: rgb(255, 103, 0);
}

.capacity-fr {
  width: 992px;
  height: 614px;
  overflow: hidden;
}
.capacity-fr ul {
  width: 100%;
  height: 100%;
  display: none;
}
.capacity-fr ul.active {
  display: block;
}
.capacity-fr ul li {
  float: left;
  width: 234px;
  height: 300px;
  margin-left: 14px;
  margin-bottom: 14px;
  background-color: #ffffff;
  text-align: center;
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
}
.capacity-fr ul li .sub-content {
  position: absolute;
  left: 0;
  width: 100%;
  height: 80px;
  bottom: -80px;
  background: rgb(255, 103, 0);
  padding: 10px;
  transition: all 0.4s;
}
.capacity-fr ul li:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.capacity-fr ul li:hover .sub-content {
  bottom: 0;
}
.capacity-fr ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px 0;
}
.capacity-fr ul li a img {
  width: 160px;
  height: 160px;
}
.capacity-fr ul li h1 {
  font-size: 14px;
  margin-bottom: 5px;
  color: #000;
}
.capacity-fr ul li p {
  font-size: 12px;
  color: #cccccc;
}
.capacity-fr ul li .price {
  font-size: 14px;
  color: rgb(255, 103, 0);
  display: block;
  margin-top: 10px;
}

/* 搭配 */
.match {
  width: 100%;
  background-color: rgb(245, 245, 245);
}
.match .container {
  position: relative;
}
.match .match-fl {
  width: 234px;
  height: 614px;
}
.match .match-fl li {
  transition: all 0.4s;
  margin-bottom: 14px;
}
.match .match-fl li:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}
.match .match-fl img {
  width: 100%;
}
.match-tab {
  position: absolute;
  right: 0;
  top: 25px;
}
.match-tab li {
  float: left;
  font-size: 16px;
  margin-left: 20px;
  padding-bottom: 5px;
  transition: all 0.4s;
  color: #000;
}
.match-tab li.active {
  border-bottom: 2px solid rgb(255, 103, 0);
  color: rgb(255, 103, 0);
}
.title {
  padding: 20px 0px;
  font-size: 20px;
}
.title .more {
  float: right;
  font-size: 16px;
}
.title .more:hover {
  color: rgb(255, 103, 0);
}

.match-fr {
  width: 992px;
  height: 614px;
  overflow: hidden;
}
.match-fr ul {
  width: 100%;
  height: 100%;
  display: none;
}
.match-fr ul.active {
  display: block;
}
.match-fr ul li {
  float: left;
  width: 234px;
  height: 300px;
  margin-left: 14px;
  margin-bottom: 14px;
  background-color: #ffffff;
  text-align: center;
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
}
.match-fr ul li .sub-content {
  position: absolute;
  left: 0;
  width: 100%;
  height: 80px;
  bottom: -80px;
  background: rgb(255, 103, 0);
  padding: 10px;
  transition: all 0.4s;
}
.match-fr ul li:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.match-fr ul li:hover .sub-content {
  bottom: 0;
}
.match-fr ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px 0;
}
.match-fr ul li a img {
  width: 160px;
  height: 160px;
}
.match-fr ul li h1 {
  font-size: 14px;
  margin-bottom: 5px;
  color: #000;
}
.match-fr ul li p {
  font-size: 12px;
  color: #cccccc;
}
.match-fr ul li .price {
  font-size: 14px;
  color: rgb(255, 103, 0);
  display: block;
  margin-top: 10px;
}
/* 配件 */
.parts {
  width: 100%;
  background-color: rgb(245, 245, 245);
}
.parts .container {
  position: relative;
}
.parts .parts-fl {
  width: 234px;
  height: 614px;
}
.parts .parts-fl li {
  transition: all 0.4s;
  margin-bottom: 14px;
}
.parts .parts-fl li:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}
.parts .parts-fl img {
  width: 100%;
}
.parts-tab {
  position: absolute;
  right: 0;
  top: 25px;
}
.parts-tab li {
  float: left;
  font-size: 16px;
  margin-left: 20px;
  padding-bottom: 5px;
  transition: all 0.4s;
  color: #000;
}
.parts-tab li.active {
  border-bottom: 2px solid rgb(255, 103, 0);
  color: rgb(255, 103, 0);
}
.title {
  padding: 20px 0px;
  font-size: 20px;
}
.title .more {
  float: right;
  font-size: 16px;
}
.title .more:hover {
  color: rgb(255, 103, 0);
}

.parts-fr {
  width: 992px;
  height: 614px;
  overflow: hidden;
}
.parts-fr ul {
  width: 100%;
  height: 100%;
  display: none;
}
.parts-fr ul.active {
  display: block;
}
.parts-fr ul li {
  float: left;
  width: 234px;
  height: 300px;
  margin-left: 14px;
  margin-bottom: 14px;
  background-color: #ffffff;
  text-align: center;
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
}
.parts-fr ul li .sub-content {
  position: absolute;
  left: 0;
  width: 100%;
  height: 80px;
  bottom: -80px;
  background: rgb(255, 103, 0);
  padding: 10px;
  transition: all 0.4s;
}
.parts-fr ul li:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.parts-fr ul li:hover .sub-content {
  bottom: 0;
}
.parts-fr ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px 0;
}
.parts-fr ul li a img {
  width: 160px;
  height: 160px;
}
.parts-fr ul li h1 {
  font-size: 14px;
  margin-bottom: 5px;
  color: #000;
}
.parts-fr ul li p {
  font-size: 12px;
  color: #cccccc;
}
.parts-fr ul li .price {
  font-size: 14px;
  color: rgb(255, 103, 0);
  display: block;
  margin-top: 10px;
}
/* 周边 */
.ambitus {
  width: 100%;
  background-color: rgb(245, 245, 245);
}
.ambitus .container {
  position: relative;
}
.ambitus .ambitus-fl {
  width: 234px;
  height: 614px;
}
.ambitus .ambitus-fl li {
  transition: all 0.4s;
  margin-bottom: 14px;
}
.ambitus .ambitus-fl li:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}
.ambitus .ambitus-fl img {
  width: 100%;
}
.ambitus-tab {
  position: absolute;
  right: 0;
  top: 25px;
}
.ambitus-tab li {
  float: left;
  font-size: 16px;
  margin-left: 20px;
  padding-bottom: 5px;
  transition: all 0.4s;
  color: #000;
}
.ambitus-tab li.active {
  border-bottom: 2px solid rgb(255, 103, 0);
  color: rgb(255, 103, 0);
}
.title {
  padding: 20px 0px;
  font-size: 20px;
}
.title .more {
  float: right;
  font-size: 16px;
}
.title .more:hover {
  color: rgb(255, 103, 0);
}

.ambitus-fr {
  width: 992px;
  height: 614px;
  overflow: hidden;
}
.ambitus-fr ul {
  width: 100%;
  height: 100%;
  display: none;
}
.ambitus-fr ul.active {
  display: block;
}
.ambitus-fr ul li {
  float: left;
  width: 234px;
  height: 300px;
  margin-left: 14px;
  margin-bottom: 14px;
  background-color: #ffffff;
  text-align: center;
  transition: all 0.4s;
  position: relative;
  overflow: hidden;
}
.ambitus-fr ul li .sub-content {
  position: absolute;
  left: 0;
  width: 100%;
  height: 80px;
  bottom: -80px;
  background: rgb(255, 103, 0);
  padding: 10px;
  transition: all 0.4s;
}
.ambitus-fr ul li:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}
.ambitus-fr ul li:hover .sub-content {
  bottom: 0;
}
.ambitus-fr ul li a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 30px 0;
}
.ambitus-fr ul li a img {
  width: 160px;
  height: 160px;
}
.ambitus-fr ul li h1 {
  font-size: 14px;
  margin-bottom: 5px;
  color: #000;
}
.ambitus-fr ul li p {
  font-size: 12px;
  color: #cccccc;
}
.ambitus-fr ul li .price {
  font-size: 14px;
  color: rgb(255, 103, 0);
  display: block;
  margin-top: 10px;
}
.recommend {
  width: 100%;
}
.recommend .container {
  position: relative;
}
.recommend #swiper3 {
  width: 100%;
  position: static;
}
.recommend #swiper3 .swiper-slide {
  background-color: #ffffff;
  height: 280px;
  transition: all 0.4s;
}
.recommend #swiper3 .swiper-slide:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}
#swiper3 .swiper-button-prev,
#swiper3 .swiper-button-next {
  width: 25px;
  height: 15px;
  position: absolute;
}
#swiper3 .swiper-button-prev {
  position: absolute;
  top: 50px;
  left: 1180px;
}
#swiper3 .swiper-button-next {
  top: 50px;
  left: 1190px;
}
.recommend #swiper3 .swiper-slide a {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: 30px;
  font-size: 14px;
}
.recommend #swiper3 .swiper-slide a .name {
  color: #000;
  margin: 10px 0;
}
.recommend #swiper3 .swiper-slide a .price {
  color: rgb(255, 103, 0);
}
.recommend #swiper3 .swiper-slide a .comment {
  margin-top: 10px;
  display: block;
}
/* 热评产品 */
.hot-product ul {
  width: 100%;
}
.hot-product ul li {
  float: left;
  width: 296px;
  height: 415px;
  background-color: #fff;
  margin-right: 14px;
  transition: all 0.4s;
}
.hot-product ul li:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}
.hot-product ul li:last-child {
  margin-right: 0;
}
.hot-product ul li a {
  display: block;
  text-align: center;
  color: #000;
}
.hot-product ul li a img {
  width: 296px;
}
.hot-product ul li a p {
  padding: 20px 10px;
  font-size: 14px;
}
.hot-product ul li a span {
  color: #cccccc;
  vertical-align: middle;
}
.hot-product ul li a span.price {
  color: rgb(255, 103, 0);
}
/* 内容 */
.contents ul li {
  float: left;
  width: 296px;
  height: 415px;
  background-color: #fff;
  margin-right: 14px;
  transition: all 0.4s;
}
.contents ul li:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}
.contents ul li:last-child {
  margin-right: 0;
}
/* 4 */
#swiper4 {
  width: 100%;
  height: 100%;
  text-align: center;
  border-top: 1px solid rgb(255, 103, 0);
}
#swiper4 .prev,
#swiper4 .next {
  width: 30px;
  height: 20px;
}
#swiper4 .swiper-pagination4 {
  position: absolute;
  bottom: 10px;
  text-align: center;
}

#swiper4 .swiper-pagination4 span {
  border: 2px solid rgb(255, 103, 0);
  width: 6px;
  height: 6px;
  background-color: #ffffff;
}
#swiper4 .type {
  margin-top: 35px;
  font-size: 16px;
  color: rgb(255, 103, 0);
}
#swiper4 .name {
  font-size: 18px;
  margin-top: 20px;
}
#swiper4 .about {
  font-size: 12px;
  color: #cccccc;
  padding: 20px 20px;
}
#swiper4 .price {
  padding: 20px;
}

/* 5 */
#swiper5 {
  width: 100%;
  height: 100%;
  text-align: center;
  border-top: 1px solid green;
}
#swiper5 .prev,
#swiper5 .next {
  width: 30px;
  height: 20px;
}
#swiper5 .swiper-pagination5 {
  position: absolute;
  bottom: 10px;
  text-align: center;
}
#swiper5 .swiper-pagination5 span {
  border: 2px solid rgb(255, 103, 0);
  width: 6px;
  height: 6px;
  background-color: #ffffff;
}
#swiper5 .type {
  margin-top: 35px;
  font-size: 16px;
  color: green;
}
#swiper5 .name {
  font-size: 18px;
  margin-top: 20px;
}
#swiper5 .about {
  font-size: 12px;
  color: #cccccc;
  padding: 20px 20px;
}
#swiper5 .price {
  padding: 20px;
}
/* 6 */
#swiper6 {
  width: 100%;
  height: 100%;
  text-align: center;
  border-top: 1px solid red;
}
#swiper6 .prev,
#swiper6 .next {
  width: 30px;
  height: 20px;
}
#swiper6 .swiper-pagination6 {
  position: absolute;
  bottom: 10px;
  text-align: center;
}
#swiper6 .swiper-pagination6 span {
  border: 2px solid rgb(255, 103, 0);
  width: 6px;
  height: 6px;
  background-color: #ffffff;
}
#swiper6 .type {
  margin-top: 35px;
  font-size: 16px;
  color: red;
}
#swiper6 .name {
  font-size: 18px;
  margin-top: 20px;
}
#swiper6 .about {
  font-size: 12px;
  color: #cccccc;
  padding: 20px 20px;
}
#swiper6 .price {
  padding: 20px;
}
/* 7 */
#swiper7 {
  width: 100%;
  height: 100%;
  text-align: center;
  border-top: 1px solid blue;
}
#swiper7 .prev,
#swiper7 .next {
  width: 30px;
  height: 20px;
}
#swiper7 .swiper-pagination7 {
  position: absolute;
  bottom: 10px;
  text-align: center;
}
#swiper7 .swiper-pagination7 span {
  border: 2px solid rgb(255, 103, 0);
  width: 6px;
  height: 6px;
  background-color: #ffffff;
}
#swiper7 .type {
  margin-top: 35px;
  font-size: 16px;
  color: blue;
}
#swiper7 .name {
  font-size: 18px;
  margin-top: 20px;
}
#swiper7 .about {
  font-size: 12px;
  color: #cccccc;
  padding: 20px 20px;
}
#swiper7 .price {
  padding: 20px;
}
/* 视频 */
.video {
  padding-bottom: 50px;
}
.video .more {
  float: right;
}
.video ul {
  width: 100%;
}
.video ul li {
  float: left;
  width: 296px;
  height: 285px;
  margin-right: 14px;
  background-color: #fff;
  text-align: center;
  transition: all 0.4s;
}
.video ul li:hover {
  transform: translateY(-5px);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
}
.video ul li:last-child {
  margin-right: 0;
}
.video ul li a {
  display: block;
  width: 100%;
}
.video ul li img {
  width: 100%;
}
.video ul li a h1 {
  font-size: 14px;
  margin: 20px 0;
}
/* 脚注区域 */
#footer {
  width: 100%;
  background-color: #fff;
}
#footer .fuwu {
  width: 100%;
}
#footer .fuwu ul {
  padding: 30px;
  border-bottom: 1px solid #cccccc;
  text-align: center;
  font-size: 14px;
}
#footer .fuwu ul li {
  width: calc(100% / 5);
  float: left;
  border-right: 1px solid #cccccc;
}
#footer .fuwu ul li:last-child {
  border: 0;
}
#footer .fuwu ul li a {
  transition: all 0.4s;
  color: #000;
}
#footer .fuwu ul li a:hover {
  color: rgb(255, 103, 0);
}
#footer .fuwu .logo {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}
#footer .fuwu .logo p {
  font-size: 14px;
  padding: 80px;
}
